@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Roboto&family=Press+Start+2P&family=Sigmar+One&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
	.scrollbar-off {
		/* supposedly, adds nice overscroll on ios */
		-webkit-overflow-scrolling: touch; 

		/* firefox 64 */
		scrollbar-width: none;

		/* IE 11 */
		-ms-overflow-style: none;
	}
	.scrollbar-off::-webkit-scrollbar {
		/* chrome etc */
		display: none;
	}


	/* TODO: something a bit more unique? */
	.spinner, .spinner-sm, .spinner-md, .spinner-lg, .spinner-xl, .spinner-2xl {
		color: transparent !important;
		min-height: 1em;
		pointer-events: none;
		position: relative;
	}

	.spinner::after, .spinner-sm::after, .spinner-md::after, .spinner-lg::after, .spinner-xl::after, .spinner-2xl::after {
		animation: loading 700ms infinite linear;
		@apply block absolute border-gray-200 z-20 left-1/2 top-1/2 !border-r-transparent !border-t-transparent rounded-full;
		content: "";
	}

	.spinner::after {
		@apply -ml-2.5 -mt-2.5 w-5 h-5 border-4;
	}

	.spinner-md::after {
		@apply -ml-3 -mt-3 w-6 h-6 border-4;
	}

	.spinner-lg::after {
		@apply -ml-4 -mt-4 w-8 h-8 border-4;
	}

	.spinner-xl::after {
		@apply -ml-6 -mt-6 w-12 h-12 border-4;
	}

	.spinner-2xl::after {
		@apply -ml-10 -mt-10 w-20 h-20 border-8;
	}

	.spinner-tomato::after {
		@apply border-tomato;
	}

	.spinner-dark::after {
		@apply border-gray-500;
	}

	@keyframes loading {
	  0% {
	    transform: rotate(0deg);
	  }
	  100% {
	    transform: rotate(360deg);
	  }
	}




	.grayout {
		position: relative;
	}

	.grayout::before {
		content: "";
		@apply absolute left-0 top-1/2 -translate-y-1/2 w-full h-[100%] bg-gray-200 z-50;
/*		background: linear-gradient(to right::after, #dddddd,     #dddddd 20%, #cdcdcd 25%,
			                                  #dddddd 25%, #dddddd 45%, #cdcdcd 50%,
			                                  #dddddd 50%, #dddddd 70%, #cdcdcd 75%,
			                                  #dddddd 75%, #dddddd 95%, #cdcdcd);
		background-size: 2000px 100%;
		animation: grayout-gradient 3s linear infinite;
*/	}

	@keyframes grayout-gradient {
		0% {
			background-position: -1000px;
		}
		100% {
			background-position: 0px;
		}
	}
}