@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Roboto&family=Press+Start+2P&family=Sigmar+One&display=swap');

/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
	.scrollbar-off {
		/* supposedly, adds nice overscroll on ios */
		-webkit-overflow-scrolling: touch; 

		/* firefox 64 */
		scrollbar-width: none;

		/* IE 11 */
		-ms-overflow-style: none;
	}
	.scrollbar-off::-webkit-scrollbar {
		/* chrome etc */
		display: none;
	}


	/* TODO: something a bit more unique? */
	.spinner {
		color: transparent !important;
		min-height: 1em;
		pointer-events: none;
		position: relative;
	}

	.spinner::after {
		animation: loading 700ms infinite linear;
		@apply block absolute border-orange -ml-2 -mt-2 w-4 z-0 border-4 h-4 left-1/2 top-1/2 border-r-transparent border-t-transparent rounded-full;
		content: "";
	}

	.spinner-lg {
		color: transparent !important;
		min-height: 1em;
		pointer-events: none;
		position: relative;
	}

	.spinner-lg::after {
		animation: loading 700ms infinite linear;
		@apply block absolute border-gray-300 -ml-10 -mt-10 w-20 z-0 border-8 h-20 left-1/2 top-1/2 border-r-transparent border-t-transparent rounded-full;
		content: "";
	}

	@keyframes loading {
	  0% {
	    transform: rotate(0deg);
	  }
	  100% {
	    transform: rotate(360deg);
	  }
	}




	.grayout {
		position: relative;
	}

	.grayout::before {
		content: "";
		@apply absolute left-0 top-1/2 -translate-y-1/2 w-full h-[100%] bg-gray-200;
	}
}