@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Roboto&family=Press+Start+2P&family=Sigmar+One&display=swap');

/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
	.scrollbar-off {
		/* supposedly, adds nice overscroll on ios */
		-webkit-overflow-scrolling: touch; 

		/* firefox 64 */
		scrollbar-width: none;

		/* IE 11 */
		-ms-overflow-style: none;
	}
	.scrollbar-off::-webkit-scrollbar {
		/* chrome etc */
		display: none;
	}
}